#pin {
    width: 1.2em;
    height: 1.2em;
}
p {
    font-weight: 100;
}

#temp {
    font-weight: 100;
    font-size: 4em;
    border-radius: 0em;
    font-family: Helvetica, sans-serif;
}

#sun, #temp{
    padding: 5px;
    align-content: center;
}
li {
    display: inline;
  }

.div {
    margin: auto;
    max-width: 50%;
    min-width: max-content;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    background-color: lightgray;
    border-radius: 10px;

  }
  .grid-container {
    display: grid;
    align-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    grid-gap: 5px 10px;
    
   
  }

  .grid{
      border-color: white;
      background-color: white;
      border-style: solid;
      border-width: 0.2px;
      border-radius: 5px;
      height: 7em;
      
  }

  #locat {
      font-size: 1em;
      font-weight: 400;
      color: green;
      font-family: Helvetica, sans-serif;
  }

button {
    padding: 5px 20px;
    border-radius: 5px;
}
button:hover {
background-color: skyblue;
}

input{
    width: 50%;
    padding: 10px 20px;
    background-color: white;
    border: white;
    
}
#wind, #press, #humid {
    font-size: 25px;
    font-family: Helvetica, sans-serif;
    font-weight: 150;
}

.grey{
    font-family: Helvetica, sans-serif;
    font-size: 15px;
}

sup{
    font-size: 30px;
    color: mediumblue;
    font-style: italic;
    font-family: Helvetica, sans-serif;
}